## Q1. Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [174]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver = webdriver.Chrome("chromedriver.exe")

In [3]:
#Website is called.

url = 'https://www.naukri.com'
driver.get(url)

#### Entering the codes to load the page accordingly

In [4]:
#Search Bar

search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job

In [5]:
search_job.send_keys('Data Analyst')

In [6]:
search_loc = driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [7]:
#Clicking the search button using xpath fucntion

search_btn = driver.find_element_by_xpath("//button[@class='btn']") #("//tagname[@AttributeName = 'Attribute value']")
search_btn.click()

### Job titles

In [583]:
#Let's extract all the tags having the job titles.

titles_tags = driver.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']") #'elements' word is used to get all the relevant titles
titles_tags

NameError: name 'driver' is not defined

In [9]:
job_titles = []
for i in titles_tags:
    job_titles.append(i.text)
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Hiring Data Analysts For E commerce Platform || WFH',
 'Data Analyst',
 'Hiring For Data Analyst/ MIS Reporting Analyst - Bangalore',
 'DA - Urgent Opening For Data Analyst BFSI Domain - Pan India',
 'Data Analyst - Informatica MDM',
 'Assistant Vice President - MIS & Reporting ( Business Data Analyst)',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Senior/Regular Business Analyst / Data Analyst',
 'Data Analyst',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst / Business Analyst -',
 'Business Data Analyst',
 'Data Analyst',
 'Associate - Data Analyst ( Growth)']

### Companies

In [10]:
job_comp = driver.find_elements_by_xpath("//a[@class ='subTitle ellipsis fleft']") #'" "' are distinctive and important. 
job_comp

[<selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="a9646479-d888-4ee4-927a-5cef5796ed9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="646321c4-bb2a-4b62-8e7e-0c575f0d01c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="284d34c9-984c-47be-9010-f73ad4bbf28f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="75fce6cf-bea4-4a9a-8faa-05f14fb47b2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="3137fb97-174d-4b3d-9c75-55521cb26aed")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="64c7ad80-0b57-4fba-b128-2a9875bcca55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="b62cf210-935c-43c1-8cbe-3de73fef4dc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="42f816cc-d2dd-4559-8cbf-fb84e5aec5df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="920c036d-f28b-46cf-a6ac-43b6244b68d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="95f36be3-39ad-4381-bb74-322d1dc127ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="fc992985-b274-4d16-b52b-7ea653cec2ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="8c0ed7a6-bf62-4fa8-9d01-3605d10b354f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="0c84f729-28be-4468-86a9-d474cd42d9c6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="c9bfb5f5-220a-4739-8391-064892ea9821")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="9d829fd2-e818-48b4-b6fb-e275496a6b15")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="ee8ef216-2786-43a9-b314-2b93b4f0a5de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="9688f0d3-5f10-4510-b6ff-7fc167732a12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="5193511d-85a1-4688-800e-b7449c1ae5f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="7b8d819e-1a85-49ae-96d3-cdf8a76699fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="439b2aba-3dc2-4ee5-a71a-207253bef703")>]

In [11]:
companies = []
for j in job_comp:
    companies.append(j.text)
    
companies

['Inflexion Analytix Private Limited',
 'Allegis Services India Pvt. Ltd.',
 'Applied Materials',
 'PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd',
 'Tata Consultancy Services Ltd.',
 'Shell India Markets Private Limited',
 'INTERTRUSTVITEOS CORPORATE AND FUND SERVICES PVT. LTD.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'SA Tech Software (I) Pvt. Ltd.',
 'Luxoft',
 'IBM India Pvt. Limited',
 'INTERTRUST GROUP',
 'LatentView Analytics Private Limited',
 'ALSTOM India Limited',
 'Udaan',
 'Myntra Designs Pvt. Ltd.']

### Experience

In [12]:
#Sometimes even after using the correct tag and attribute names, we don't get the desired output.

#We used the parent tag.

job_exp = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi experience']//span")
job_exp

[<selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="c358ae49-a164-45b9-9b0e-2a982ebe4ca1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="aac1a03a-5382-4ba5-9e92-6960bba54379")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="6b52e12a-6a23-4f9a-b03c-79c2e2fb3837")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="75b7e10d-f0c8-417c-8979-8c2bfc7e67dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="f4a6d98a-5fd1-4f2c-80a0-32ca468fffd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="80643d23-5bcc-439a-bb08-4b58612f8fa6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="3579c96b-6788-4912-8f11-660768e713d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="07081881-ee4e-4da5-920d-6eef9ee18daf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="da982b1b-6abf-444e-ad88-a62f497d5c90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="2391fd22-8d4b-482e-b3d7-473392049756")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="140f4e05-1b9f-41ed-aa01-ca3f431ef85d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="32ece690-7a3d-4745-bf41-0864a7c56b12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="110c2b8d-22c2-43a9-9223-29ff7c7c7c5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="0c67af02-e868-4864-a9d5-357613bce261")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="8166411a-aca8-4f39-a46d-82abbce56ed7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="498b0ff4-3d7b-43ec-85cc-0c622ac745d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="1a8cf8e2-dc2f-4afd-ac59-06a965167c9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="9d4373d5-c7d1-435a-8ddf-8e46a7ee56eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="fa828e1d-5aea-48c5-a917-2c3aa193c584")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="ae64964c-a202-4e32-8522-bc5fbf5fa6a8")>]

In [13]:
experience = []
for k in job_exp:
    experience.append(k.text)
    
experience

['0-3 Yrs',
 '0-5 Yrs',
 '7-10 Yrs',
 '2-4 Yrs',
 '4-9 Yrs',
 '6-9 Yrs',
 '12-18 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '4-9 Yrs',
 '4-8 Yrs',
 '3-6 Yrs',
 '1-3 Yrs',
 '3-6 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '1-5 Yrs',
 '5-10 Yrs',
 '1-6 Yrs',
 '2-3 Yrs']

### Location

In [14]:
job_loc = driver.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']//span")
job_loc

[<selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="00edd2a6-f31b-475f-95f9-a9f353332570")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="e995f392-72f2-4f0e-a277-3dc97f92e5e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="b58cbd2d-b8be-42b0-9b49-47c15fed44ce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="77140608-85cb-4bda-8538-852d00008624")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="a0e1dd5a-7424-4dd7-97e2-ff2c14536eb6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="5194d5f3-90db-4fac-93eb-b5d6de018e0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="a6f5d593-046c-4975-8fb4-c1567d6b38cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="68d0ec0e-c01c-4cfa-8082-90685e7777a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="2ec2c5cc-e294-4d26-9f0f-2215c526a11a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="d18327db-ee51-4716-b9e3-ff6f767a5da9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="293e9347-7e32-4318-8a04-88dacfc38690")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="c05b09d5-b9a1-449b-a073-b6f512b80177")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="a60ffd89-4c24-4168-980a-5425ab0ac436")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="9abe7b2b-8066-47a5-a94a-16927ecb83e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="213408ad-0c2e-4234-8fdb-e3e7ae9d4894")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="ca824e2c-a418-4685-8f66-a0c8c8502840")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="046881e4-eaa7-4ff9-b8bf-ec6a13a50621")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="90eced6c-0486-4b26-b152-58c4ed841ea5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="08984ae3-0282-48cf-9e6b-a18f0a77dc4b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="86ffe83cf58fabf588c5ead17081e907", element="87a91fd2-7fc3-4bd7-8b45-835b7ff93f2f")>]

In [15]:
location = []
for l in job_loc:
    location.append(l.text)
    
location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [16]:
import pandas as pd
jobs = pd.DataFrame({})
jobs['titles'] = job_titles
jobs['companies'] = companies
jobs['experience'] = experience
jobs['location'] = location

In [17]:
jobs.head(11)

,titles,companies,experience,location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Hiring Data Analysts For E commerce Platform |...,Allegis Services India Pvt. Ltd.,0-5 Yrs,Bangalore/Bengaluru
2,Data Analyst,Applied Materials,7-10 Yrs,Bangalore/Bengaluru
3,Hiring For Data Analyst/ MIS Reporting Analyst...,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs,Bangalore/Bengaluru
4,DA - Urgent Opening For Data Analyst BFSI Doma...,Tata Consultancy Services Ltd.,4-9 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
5,Data Analyst - Informatica MDM,Shell India Markets Private Limited,6-9 Yrs,Bangalore/Bengaluru
6,Assistant Vice President - MIS & Reporting ( B...,INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs,"Mumbai, Bangalore/Bengaluru"
7,Data Analyst,Myntra Designs Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru
8,Data Analyst,Myntra Designs Pvt. Ltd.,3-6 Yrs,Bangalore/Bengaluru
9,Data Analyst,Myntra Designs Pvt. Ltd.,4-9 Yrs,Bangalore/Bengaluru
10,Data Analyst,Myntra Designs Pvt. Ltd.,4-8 Yrs,Bangalore/Bengaluru

## Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data

In [30]:
pilot = webdriver.Chrome("chromedriver.exe")

In [31]:
url = 'https://www.naukri.com'
pilot.get(url)

In [32]:
search_job = pilot.find_element_by_id('qsb-keyword-sugg')
search_job

In [33]:
search_job.send_keys('Data Scientist')

In [34]:
search_loc = pilot.find_element_by_id('qsb-location-sugg')
search_loc.send_keys('Bangalore')

In [35]:
#Click using xpath fucntion

search_btn = pilot.find_element_by_xpath("//button[@class='btn']") #("//tagname[@AttributeName = 'Attribute value']")
search_btn.click()

### Companies

In [36]:
comp = pilot.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")

In [37]:
comp

[<selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="13825229-2203-48e8-acda-971e1ed55b3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="0d3321fa-5dc4-41b6-bf62-5d1b1fd54f17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="382e1e41-6c8f-437f-8d30-c5a9a1ad7b25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="15924234-48ef-4b0b-a0d3-262682513e5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="82437ccd-c0c1-4e80-ba8a-256beb7b61d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="f178d175-a679-4490-b97f-e5e201078dd4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="27639ac4-8ab9-4c76-99e8-5db603c76375")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="e2ed8812-733c-4915-84d0-4036540243f6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="813de69a-e169-4137-9c9e-924c4436b18b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="b7b0cae1-1234-4adf-b914-ad780ff1c2e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="83d1c27b-e31e-4c02-9ffb-2a7c5a836b45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="d4664e90-3809-47fb-858a-bde22db89730")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="cda434c5-550d-48d5-b21b-70bcd9bc4a3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="a2671d6f-2889-49a3-9570-25554023bf74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="e38730b8-3a8d-4d41-ac13-8ed6ec62e55d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="746d6683-a63b-4163-9c57-37f85f7d8eca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="ed613334-c427-4d15-a688-b36e3814e7db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="4e154678-37d7-4e43-9451-7d90dc820c32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="b463b3db-55cc-4f30-8664-0cd26667216a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="ce3d1cee-cbf4-4d22-8400-b4666954433a")>]

In [38]:
companies = []

for i in comp[0:10]:
    companies.append(i.text)

In [39]:
companies

['Inflexion Analytix Private Limited',
 'Nielsen',
 'IBM India Pvt. Limited',
 'IBM India Pvt. Limited',
 'Scienaptic Systems',
 'Xoriant Solutions Pvt Ltd',
 'Philips India Limited',
 'IBM India Pvt. Limited',
 'Intel Technology India Pvt Ltd',
 'Huawei Technologies India Pvt Ltd']

### Location

In [ ]:
location = []

In [50]:
loc = pilot.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span[1]")

In [51]:
loc

[<selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="1abbff97-d543-420a-a908-9d81da14e71e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="6c93aa0a-4b1f-43e4-be9c-cdfc604a32ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="f3e22a23-5cea-4d7a-876e-0730329d4307")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="175d03a2-f57a-4be7-90a6-94d981106861")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="2db0c33d-80fd-416f-b73f-ae25c536631a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="22e3ad7c-f014-495a-9b21-2ba511757f8f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="d7f3edfc-3837-432c-bbf6-2097c4de172e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="bf660892-333e-4c6c-acaa-bc1880956929")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="81f54be6-4786-45a1-a62a-6d813e2ccb10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="64155942-c034-4d3a-a661-8b00fcd4a15e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="31eb80fc-bf14-4425-a8c4-7038bdfdf4f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="2774452d-699d-483a-be9f-13b6303ee4ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="b7ab2f5d-758e-4b0c-8806-d285d7f110b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="385dc954-244b-4d35-8b59-1f99736485c5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="229472ae-e224-4e1e-9bad-a45cfd749214")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="35ff6418-3bd0-4df8-aed3-486af11adb4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="99d95aea-7e0c-4d08-acfa-da739878a476")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="05576e1e-4b8a-427f-a692-a76be00926cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="21dcbe6a-ef8e-4d93-8670-6cf590889a30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="15e143f8-7153-4080-ad73-d676c5e95b06")>]

In [77]:
for j in loc[0:10]:
    location.append(j.text)

StaleElementReferenceException: Message: stale element reference: element is not attached to the page document
  (Session info: chrome=90.0.4430.212)

In [78]:
location

['-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 'Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Indore, Hyderabad/Secunderabad, Pune, Ahmedabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Indore, Hyderabad/Secunderabad, Pune, Ahmedabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Indore, Hyderabad/Secunderabad, Pune, Ahmedabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Indore, Hyderabad/Secunderabad, Pune, Ahmedabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Kolkata, Gurgaon/Gurugram, Bangalore/Bengaluru, Vadodara, Mumbai (All Areas)',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kochi/Cochin, Indore, Hyderabad/Secunderabad, Pune, Ahmedabad, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

### Experience

In [58]:
experience = []

In [60]:
exp = pilot.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi experience']/span")

In [62]:
exp

[<selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="2a85de7b-56fd-4d81-a4b5-83830f7fb08b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="487a5f41-1083-4031-a596-d3d9812dc464")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="394bd653-cbe4-4465-a212-8a3240e07bee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="0a0e6eda-3463-48ae-a91b-82d2a230b4f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="85f24261-0221-4572-b8ef-847156557b2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="b9ced96d-46c8-4171-8163-9a3107ebb4ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="f0c2de4c-b923-40d2-8b58-9e1e53a82677")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="79f9fc26-238b-4361-8793-87c61ef99b3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="40700051-e5e1-48ef-bd16-046998923f2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="48b78941-88bc-4929-8b5f-106be077dc16")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="4f6b4335-4109-417e-9131-668913ad4ed9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="e7a1f171-ae3c-4d22-b06a-625759d3214b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="e429f74f-c6f1-445d-84c5-55db39a54ece")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="0ef3c437-415a-4165-bf8e-0a86fa58b4e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="a719cf77-3770-4836-8d2d-44d57de1a590")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="acccd3d8-16ca-46ec-a9f4-eb8c11dd3723")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="4931b17e-40c7-466f-a240-cae1f8bea49f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="8d985e4f-d7ce-424d-83ba-3c068996fd59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="4a79df9a-f027-466c-9370-549f4a3bd3dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4d95e6c76e90782fbfef17323a182b4", element="1e9a2333-8a6b-4874-b06d-3c72cf398fba")>]

In [63]:
for k in exp[:10]:
    experience.append(k.text)

In [64]:
experience

['0-3 Yrs',
 '3-7 Yrs',
 '5-8 Yrs',
 '5-8 Yrs',
 '5-10 Yrs',
 '1-3 Yrs',
 '4-7 Yrs',
 '6-8 Yrs',
 '6-10 Yrs',
 '5-8 Yrs']

### URLs

In [65]:
urls = []

for i in pilot.find_elements_by_xpath('//a[@class = "title fw500 ellipsis"]'):
    urls.append(i.get_attribute('href'))

In [66]:
urls

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-mumbai-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-0-to-3-years-100521000368?src=jobsearchDesk&sid=16213321136007171&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-modeling-nielsen-kolkata-gurgaon-gurugram-bangalore-bengaluru-vadodara-baroda-mumbai-all-areas-3-to-7-years-280421003878?src=jobsearchDesk&sid=16213321136007171&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-garage-ibm-india-pvt-limited-noida-hyderabad-secunderabad-bangalore-bengaluru-5-to-8-years-040521900448?src=jobsearchDesk&sid=16213321136007171&xp=3&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-noida-hyderabad-secunderabad-bangalore-bengaluru-5-to-8-years-030521900421?src=jobsearchDesk&sid=16213321136007171&xp=4&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-credit-risk-scienaptic-systems-bangalore-bengaluru-5-to-10-years-030521500996?src=jobsearchDesk&sid=16213321136007171&xp=5&px=1',
 'https://www.naukri.com/job-listings-big-data-data-scientist-xoriant-solutions-pvt-ltd-kochi-cochin-indore-hyderabad-secunderabad-pune-ahmedabad-bangalore-bengaluru-mumbai-all-areas-1-to-3-years-130521005018?src=jobsearchDesk&sid=16213321136007171&xp=6&px=1',
 'https://www.naukri.com/job-listings-specialist-i-data-scientist-philips-india-limited-bangalore-bengaluru-4-to-7-years-170521500993?src=jobsearchDesk&sid=16213321136007171&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-scientist-ibm-india-pvt-limited-bangalore-bengaluru-6-to-8-years-110521907352?src=jobsearchDesk&sid=16213321136007171&xp=8&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-intel-technology-india-pvt-ltd-bangalore-bengaluru-6-to-10-years-070521500578?src=jobsearchDesk&sid=16213321136007171&xp=9&px=1',
 'https://www.naukri.com/job-listings-sde-lead-data-scientist-l3-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-5-to-8-years-120521901434?src=jobsearchDesk&sid=16213321136007171&xp=10&px=1',
 'https://www.naukri.com/job-listings-computational-design-lead-data-scientist-l3-huawei-technologies-india-pvt-ltd-bangalore-bengaluru-5-to-8-years-120521901329?src=jobsearchDesk&sid=16213321136007171&xp=11&px=1',
 'https://www.naukri.com/job-listings-hiring-for-data-scientist-on-contract-basis-3-6-months-globaledx-learning-and-technology-solution-pvt-ltd-hyderabad-secunderabad-bangalore-bengaluru-mumbai-all-areas-3-to-8-years-170521003581?src=jobsearchDesk&sid=16213321136007171&xp=12&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-chatbot-nlp-gojek-tech-bangalore-bengaluru-3-to-7-years-060521500524?src=jobsearchDesk&sid=16213321136007171&xp=13&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-chatbot-nlp-go-jek-india-bangalore-bengaluru-5-to-10-years-050521500478?src=jobsearchDesk&sid=16213321136007171&xp=14&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-kinara-capital-kinara-financial-private-limited-bangalore-bengaluru-5-to-10-years-060521500976?src=jobsearchDesk&sid=16213321136007171&xp=15&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-marketing-analytics-hudsons-bay-company-bangalore-bengaluru-2-to-4-years-140521501771?src=jobsearchDesk&sid=16213321136007171&xp=16&px=1',
 'https://www.naukri.com/job-listings-data-scientist-applied-materials-india-private-limited-bangalore-bengaluru-2-to-4-years-070521901521?src=jobsearchDesk&sid=16213321136007171&xp=17&px=1',
 'https://www.naukri.com/job-listings-hiring-for-lead-data-scientist-for-bangalore-location-societe-generale-global-solution-centre-pvt-ltd-bangalore-bengaluru-5-to-9-years-130521000901?src=jobsearchDesk&sid=16213321136007171&xp=18&px=1',
 'https://www.naukri.com/job-listings-principal-data-scientist-netapp-india-private-limited-bangalore-bengaluru-10-to-15-years-070521906988?src=jobsearchDesk&sid=16213321136007171&xp=19&px=1',
 'https://www.naukri.com/job-listings-we-are-hiring-for-the-role-of-data-engineer-data-scientist-collabera-technologies-private-limited-bangalore-bengaluru-5-to-8-years-170521006288?src=jobsearchDesk&sid=16213321136007171&xp=20&px=1']

In [67]:
import time

### Description and Job titles

In [68]:
job_titles = []
description = []

In [69]:
for i in urls[:10]:
    pilot.get(i)
    time.sleep(3)
    
    #Fetching the job title
    try:
        job = pilot.find_element_by_xpath("//h1[@class = 'jd-header-title']")
        job_titles.append(job.text)
    except:
        job_titles.append('-')
        
    #Fetching the desription
    try:
        desc = pilot.find_element_by_xpath("//section[@class = 'job-desc']")
        description.append(desc.text)
    except:
        description.append('-')

In [70]:
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist, Modeling',
 '-',
 '-',
 'Senior Data Scientist - Credit risk',
 '-',
 'Specialist I - Data Scientist',
 '-',
 'Lead Data Scientist',
 'SDE Lead Data Scientist-L3']

In [71]:
description

["Job description\nJob Role : Data Scientist/Data Analyst /Business Analyst\n\nLocation : Chennai/Bangalore/Hyderabad/Pune/Mumbai/Delhi\n\nGreetings from CAIA - Center for Artificial Intelligence & Advanced Analytics\n43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization and Cloud Computing.\n\nWhile 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning and AI in Tier 1 and Tier 2 organization's working closely with us.\n\nTo help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to up skill and get recruited into an organization appreciating your skilling journey.\nApplications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIf you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.\n\nCall to schedule interview Monday -Saturday from 10:00 am to 7Pm\n\nManigandan -+91 7299917200\n\nEmail : manigandan@centerforaia.com\n\nWhat is needed from you?\n\nFreshers who wish to start their career in Analytics and AI and professionals who wish to\nupskill or change their domain to analytics and emerging technologies are free to apply.\nAn Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\nSkills relating to Mathematics/Statistics.\nNatural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization\nGood verbal and written communication skills\nAbility to understand domains in businesses across various sectors\n\n\nSelection procedure includes\n\nAptitude Test & Communication Exam - Online / Offline\nSQL/Python test - Online / Offline\n\nCandidates who clears the above will have one-one discussion with our Career Guidance Manager for further evaluation and processing of your Resume.\n\n\nAll the Shortlisted candidates will be eligible to continue the corporate training with CAIA\nWhat you can expect from us?\n\nYou will get trained on the following modules for a period of 12-14 weeks:\n\nSQL & PLSQL\nData Wrangling using Python\nData Visualization Using Power-BI\nStatistics for Machine Learning\nArtificial Intelligence, Data Interpretation\nSupervised & Unsupervised Learning,\nNLP & Deep Learning\nCloud Data Lake\nBusiness intelligence & Data Visualization\nSimulation Projects\nExpected Outcome?\n\nAt the end of the Training you are expected to be well versed with the following:\n\nAnalysis of large and complex data sets from multiple sources\nDevelopment and evaluation of data analytics models, algorithms and solutions\nUnderstanding/implementation of ML algorithms, performance tuning and reporting\nImplementation of algorithms to mine targeted data and the ability to convert data in to a business story\nTranslation of business requirements into technical requirements; Data extraction, preparation and transformation\nIdentification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization\nRequirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nFinding analytical solutions to abstract business issues.\nApply objective analysis of facts before coming to a conclusion\n\nAbout CAIA - Inflexion Analytix Private Limited\n\nCenter for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay.\nDigital leaders - 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advance Analytics solutions for Fortune 500 companies.\nOur Website : http://www.centerforaia.com/\n\nhttps://inflexion-analytix-private-limited.business.site/?m=true\n\nCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:\n\n1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics\n2. Advanced Training programs for readying the future ready workforce\n3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.\nRoleData Analyst\nIndustry TypeBPO / Call Centre\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nBusiness IntelligenceArtificial IntelligenceBig DataITMachine LearningStatisticsDeep LearningAnalyticsBusiness AnalysisSQLData ScienceNLPCloud ComputingData VisualizationSoftwareData WarehousingPython",
 'Job description\nWe wont say we can predict the future, but our team of Analysts get pretty close, they turn millions of data points into useful information & insights that help our clients to make better decisions on their marketing mix and achieve superior results. Be part of the future and join in on one of the major transformations in the market research industry with the integration of big data and classic marketing mix analysis.\n\nResponsibilities:\nDeliver as a part of our consultant team in driving high quality results on custom project work\nEnsure effective and timely delivery of project work\nWork towards understanding statistical models and deliver business insights and findings\nEnsure compliance to Marketing Mix Modeling modeling practices and company quality standards\nMaximize the efficient and effective use of resources by utilizing appropriate processes and tools\nTo build and maintain effective contacts with other departments to ensure the efficient and effective use of resources\nLiaise with appropriate Marketing Mix Modeling and Nielsen departments to ensure hardware and software requirements are fulfilled\nWork with co/ third party modellers to deliver business insights and findings\n\nQualifications and Skills\n2-5 years of relevant experience\nMasters degree in Economics, Mathematics, Statistics, Engineering\nIn-depth understanding of statistical modeling techniques and applications\nGood and working knowledge of any statistical languages like SAS, R, Pythons\nSolid proficiency of decision making and problem resolution skills\nPassion for results with a challenger mindset\n\nAbout the Team:\nGlobal Product, Technology & Operations supports Nielsen Medias growth strategy by enabling positive client and market solutions. Our Operations Team is in a unique position as the center of data collection, analysis and delivery. We deliver outcomes with the highest quality and integrity standards in an agile and transparent way while standing by our Nielsen values.\n\n\nRoleBusiness Analyst\nIndustry TypeAnalytics / KPO / Research\nFunctional AreaStrategy, Management Consulting, Corporate Planning\nEmployment TypeFull Time, Permanent\nRole CategoryCorporate Planning/Consulting/Strategy\nEducation\nPG :M.A in Economics, MBA/PGDM in Any Specialization, MS/M.Sc(Science) in Statistics, Maths\nKey Skills\nPredictive ModelingSASSegmentationK-MeansStatisticsOptimizationRandom ForestRMarketing Mix ModelingLinear RegressionStatistical ModelingBusiness InsightsMarket Research',
 '-',
 '-',
 'Job description\n\nResponsibilities and duties Focus on developing clear and concise analytical approach for problem solving with client partnership\nStrong understanding of ML libraries and applications e.g. Neural Net, SVMs, boosting methods and implementation using R/Python. Should have academic paper level understanding of math e.g. linear algebra, calculus etc.\nAbility to code on SAS/R for data munging, analysis and insights and/or languages like Python for creating efficient production ready code\nManaging delivery of projects including timely communication, setting milestones and tracking Generating actionable insights for business/KPI improvements Ability to work independently, structure analyses and handle multiple priorities Develop and Maintaining Credit Risk Models Strategies Rich experience in at least one production ready deployment of Machine Learning algorithms is a plus. Experience in working on real life large messy dataset to solve real business problems. Kaggle experience is a plus.\n  Skills Competencies: Experience in Financial Services/ Fintech/ BFSI along with Credit Risk in Retail Banking and Data Science 5 years of experience in building predictive models (Application Scorecard, Behaviour Scorecard, Collection Score Card, Loan Pricing, Loss Forecasting, Cross Sell Model) Experienced Statistical software skills (e.g. SAS, R, Python Strong understanding of ML libraries and applications. Strong experience in leading credit risk model development, validation, deployment, and documentation Analytically oriented with ability to grasp complex risk management strategies, processes, models and draw insights / identify areas of opportunity\nStrong track record of delivering on high value / critical projects. Ability to communicate with senior stakeholders crisply and confidently on findings, status, bottlenecks, and escalations\nProven track record of delivering in a start-up environment would be a plus Strong written and oral communication skills\nRoleOutside Technical Consultant\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - System Programming\nEmployment TypeFull Time, Permanent\nRole CategorySystem Design/Implementation/ERP/CRM\nEducation\nUG :Any Graduate in Any Specialization\nPG :Post Graduation Not Required\nKey Skills\nCVSBfsiAnalyticalMachine learningCredit riskData miningRisk managementForecastingFinancial servicesPython',
 '-',
 'Job description\nResponsibilities and Key Result Areas\nDesign and develop project prototypes and solutions.\nParticipate in project estimation, planning and risk management activities\nIs responsible for delivering input in the planning process to the project leader\nEnsures that there is proper documentation for the developed solutions.\nEnsure compliance to the Quality Management System and regulatory requirements\nKey Technical Skills:\n4 - 7 yrs years of experience in data science\nDeveloped Proficient in algorithms on regression modelling (linear/logistic), supervised and unsupervised classification,\ntree-based techniques (Decision trees /Random forest), neural nets, bagging, Pattern Mining and boosting techniques, etc.\nProficient and hands on experience in developing models using concepts of Artificial Intelligence,\nMachine Learning and Deep Learning related technologies (such as Keras, TensorFlow, pyTorch, Azure ML, AWS ML, Scikit, Jupyter, MatLab etc.)\nExperience with containers like Docker is added advantage\nExperience in Sql\nWorking experience in agile/SAFe development methodologies\nSoft Skill set:\nFast learner. Ability to grasp key concepts quickly with minimal or no supervision\nGo-Getter Attitude. Ability to take ownership of team goals and deliver it with quality and within required timeline\nTeam Player attitude. Key characteristic of the individual who puts the team first before self.\nAbility to think out of box: Ability to come up with bright ideas and always looking at the next big thing in technology\nFlexible and willingness to stretch oneself when needed.\nRoleSoftware Developer\nIndustry TypeMedical Services / Hospital\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate in Any Specialization\nPG :Post Graduation Not Required\nKey Skills\nMiningdeep learningdata scienceArtificial IntelligenceMachine learningAgileHTMLRisk managementMATLABSQL',
 '-',
 'Job description\n\n\nWe are seeking an outstanding Lead Data Scientist in AI/ML who will help our team continue to grow and bring high value to Intel. In this role you should demonstrate excellent problem formulation/definition skills in addition to technical skills. The ideal candidate should be:\n\nA professional role model with deep and wide expertise in state-of-the-art AI/ML techniques, a passion for solving challenging data science problems and extensive hands-on experience.\nBe detail-oriented and have an aptitude for solving unstructured problems. You should be excellent in coming up with different approaches to solve business problem using AI and evaluate the trade-off between them.\nBe self-directed, take charge of opportunities with business impact and drive them to completion.\nHave prior experience in guiding a team of data scientists, coaching and mentoring them.\nHave deep technical expertise in feature-engineering of massive datasets, effective exploratory data analysis, and model building using AI/ML techniques.\nBe a role model innovator by adapting new AI/ML modeling techniques and procedures.\nHave deep expertise in creation and management of datasets.\nHave excellent business and communication skills to be able to work with stakeholders like the business teams, engineering teams and partner teams and align them with respect to your focus area.\nHave the ability to manage and execute an entire AI project from start to finish, including problem solving, data gathering and manipulation, predictive modeling, and project management skills.\nBe a role-model in storytelling with data and articulating the AI problems in an understandable manner to senior leadership of the Business Units.\n\nYou will be a part of the large global AI/ML Research Scientist community and will have access to state-of-the-art training, tools, and methods of the domain.\n\n\nCandidates need to hold at least a masters degree (or higher) in Computer Science/Machine Learning/AI/Data Science\n8 years of relevant experience in building AI/ML models and in using Python (Scikit-learn, TensorFlow/Pytorch) and SQL (or equivalent).\nExperience in using data analysis techniques and ML methods like classification, regression pattern finding, clustering, dimensionality reduction, anomaly detection etc.\nExperience with Hadoop, Spark is an advantage\nDeep Knowledge of classical AI algorithms and Deep Learning techniques is a must.\nGreat analytical skills and demonstrated ability of independent and creative thinking.\nHighly motivated strong team player with the ability to work both independently and collaboratively within a team.\nHas strong analytical skills, including the abilities to scope out business problems to be solved, start from ambiguous problem statements, identify and access relevant data, make appropriate assumptions, perform insightful analysis and draw conclusions relevant to the business problem.\nAbility to present information professionally and concisely with supporting data.\nPrevious experience as a data scientist in semi-conductor industry or data intensive organizations is a plus.\nExperience in creating powerful data driven visualizations to describe ML modeling results to stakeholders.\nRoleTeam Lead/Technical Lead\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate in Any Specialization\nPG :Any Postgraduate in Any Specialization\nKey Skills\nComputer scienceData analysisFormulationArtificial IntelligenceMachine learningSignal processingPredictive modelingForecastingSQLPython',

In [79]:
import pandas as pd
jobs = pd.DataFrame({})
jobs['titles'] = job_titles
jobs['companies'] = companies
jobs['experience'] = experience
jobs['description'] = description

In [586]:
jobs

                                        Product Name Rating     Price
0  ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...    3.7  4,13,890
1  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...    3.7  2,62,990
2  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...    3.8  2,79,990
3  (Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB ...      -  1,89,900
4  Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...    2.4  2,49,990
5  HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...    4.5  3,45,900
6  ASUS ZenBook Pro Duo UX581 Intel Core i9 9th G...    3.8  2,79,990
7  Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...    3.4  2,00,690
8  ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz...    4.8  2,78,139
9  (Renewed) ASUS UX581LV-H2035T ZenBook Pro Duo ...      -  2,07,992

## Q3

In [102]:
chauffeur = webdriver.Chrome("chromedriver.exe")

In [103]:
url = 'https://www.naukri.com'
chauffeur.get(url)

In [104]:
search_job = chauffeur.find_element_by_id('qsb-keyword-sugg')
search_job

In [105]:
search_job.send_keys('Data Scientist')

In [106]:
#Click using xpath fucntion

search_btn = chauffeur.find_element_by_xpath("//button[@class='btn']") #("//tagname[@AttributeName = 'Attribute value']")
search_btn.click()

In [107]:
#Click on delhi filter box

chauffeur.find_element_by_xpath("//div[@class = 'filterOptns']/div[2]").click()

In [111]:
#("//div[@class = 'filters']/label[6]")

chauffeur.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/i").click()

### Job Titles

In [112]:
#Let's extract all the tags having the job titles.

titles = chauffeur.find_elements_by_xpath("//a[@class = 'title fw500 ellipsis']") #'elements' word is used to get all the relevant titles
titles

[<selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="79f30872-9f24-49c5-b1bd-1260dba001de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="8234b0d7-5927-428f-ae9f-7464530dd26d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="86f5174c-0caf-4edd-a625-37964062fa0a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="37017805-87e7-491e-a7e9-561827193551")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="69ad4b44-beea-4faf-b784-0e17f5c23f75")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="889a2c5f-9164-45d6-a6e9-e30a6a0cf0f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="050d83d1-88fe-4eee-9018-2994fdeaa477")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="08a4517c-ec06-44eb-a208-ad43346d4582")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="94c27732-6c1b-4684-95a6-3b3465e76c3d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="733270d4-110f-4a46-8001-c84479221afc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="7e0c3974-5462-4c8a-90e6-14eaa7b71d72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="ef9448e8-a18e-437d-9f0b-3a9325050b45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="d13a2fde-dc74-42be-9cc1-120c8a8a5eb8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="62a768c7-9f0c-4854-a2ff-93ede410d248")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="f123e230-8c18-4a15-bdcc-166c1c84fd2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="547e9688-8a6e-4098-aad4-50b637fd87d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="2424e2bd-b408-4a2b-9446-112391fd1578")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="b7712bab-dbaa-4dc6-9fd8-80c518c33592")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="dfe23891-1307-46a1-9148-4c489628aee6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="f545d90a-7de1-4505-982c-3c1fc1eee7b7")>]

In [113]:
job_titles = []

In [114]:
for i in titles:
    job_titles.append(i.text)

In [115]:
job_titles

['Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist',
 'Business Analyst- Data Scientist',
 'Data Scientist - High growth VC backed Influencer Marketplace',
 'Excellent opportunity For Data Scientist',
 'Data Scientist',
 'DATA Scientist – Gurgaon (Exp 3-6 years)',
 'DATA Scientist – Gurgaon (Exp 3-6 years)',
 'Data Scientist - Noida',
 'Data Scientist - Python & Machine Learning',
 'Data Scientist - Python & Machine Learning',
 "Data Scientist - Noida/ B'lore",
 'Data Scientist - Python / Machine Learning / Tableau / Power BI',
 'Data Scientist - Python & Machine Learning',
 'Data Scientist',
 'Data Scientist - Python / Machine Learning / Tableau / Power BI',
 'Data Scientist - Python & Machine Learning (ISO 20022)',
 'Data Scientist',
 'Senior Data Scientist II 5+ yrs II Gurgaon',
 'Hiring For Data Scientist @ Prodapt Solutions']

### Comapanies

In [123]:
comp = chauffeur.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")

In [124]:
comp

[<selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="e71cfdda-5c9a-4db7-84df-973013e382c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="0537fed8-560a-44f2-b968-7775bb755095")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="cb3b8559-6d85-4b33-b05f-af4c127e5ba8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="45b6cd5a-2a69-4ecc-8665-9b67039b4579")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="719f37eb-a3bb-42e3-b319-fd47e887033f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="195e2fe3-aaa0-418c-bba7-ade8af7955b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="751dd287-6c6a-4d70-963f-2b3015e7c4bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="3ad27c13-0a4e-4334-8260-587e296495e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="72b1223c-4ca8-4e92-93cf-360099014b2e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="a37545fc-f9b7-41ff-ae8e-54c1fc987645")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="48a4f11b-c5f3-4ed4-8da6-416800a39e12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="3f2adf2d-9455-4d4d-b237-152b63cbadd0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="37956010-d5df-468f-b2a5-75e494a0082b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="7758d4b8-1861-4e7e-823f-d240a0caa49b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="08c48472-98d7-4b4b-9b4d-f9142a32e550")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="5cd2670e-52f1-47fc-9c26-0d144b8ff2ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="d2995dd0-339a-405b-83dd-bdba54c57b0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="d35d29b2-1fce-449b-9e9b-eef3bc5d8af7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="14d4790a-a403-46aa-b223-13c8cec3e336")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="69deadde-04dd-42bc-8d1a-a8e2165b5850")>]

In [125]:
companies = []
for j in comp:
    companies.append(j.text)

In [127]:
companies

['Inflexion Analytix Private Limited',
 'IBM India Pvt. Limited',
 'Wipro',
 'Ravgins International Pvt. Ltd.',
 'NEC CORPORATION INDIA PRIVATE LIMITED',
 'Mobikwik',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVATE L IMITED',
 'Optum Global Solutions (India) Private Limited',
 'FUTURES AND CAREERS',
 'FUTURES AND CAREERS',
 'NEC CORPORATION INDIA PRIVATE LIMITED',
 'FUTURES AND CAREERS',
 'FUTURES AND CAREERS',
 'Cloudstrats Technologies Private Limited',
 'FUTURES AND CAREERS',
 'FUTURES AND CAREERS',
 'Country Veggie',
 'Zenatix Solutions Private Limited',
 'BIZZ-BUDDY ENTERPRISES PRIVATE LIMITED']

In [128]:
loc = chauffeur.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi location']/span[1]")

In [129]:
loc

[<selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="20c60e0e-0e5f-4c32-aa42-fd08c7f182eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="5148f998-ffee-4453-9cad-0440357f3929")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="d7be60b6-e4b8-486f-b7bb-7545d40ed798")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="df68208f-15e7-4b5f-8f3e-bc6b7b94bb9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="bc830348-5edd-4483-8033-0c01a4939703")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="37156938-808d-49a7-9cfc-5b8b4c3a4d87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="6cb35998-4595-43d9-ba7b-f2f3bf545c83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="e47d464e-a1a7-4127-95cf-00a4b0cf3129")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="675abdca-087b-4c3c-a666-92ed6f4827b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="ceb7cc5a-98d5-47c2-9126-01d72636f43b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="b6a24c6a-91bf-4c47-a83c-0b2dede1ef6a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="8453a1d7-42f7-4cb3-8bfd-eef4637eb457")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="08ac16a6-6e64-4fc2-8833-f0d115e85560")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="4abc7b91-77ea-4648-88ea-7d25f1549efa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="a0261da8-4e30-4445-b6d2-009781ee48d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="1561ac0b-5e32-4086-af1a-bd08108b090f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="30b8e5fd-3a09-4ec2-a499-fb0349cd0ec7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="13a5b97c-6f51-4edb-bb59-4150e260a660")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="09539ff3-65ad-446a-9312-3be2f2e81072")>,
 <selenium.webdriver.remote.webelement.WebElement (session="04c73e84e133a7b1291d7d9273e5fce7", element="d3d24e93-bdf7-4c00-aa1c-6883ef1d9a64")>]

In [130]:
location = []
for k in loc:
    location.append(k.text)

In [131]:
location

['Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Noida, Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Noida, Gurgaon/Gurugram',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Bangalore/Bengaluru',
 'New Delhi, Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Gurgaon/Gurugram, Delhi / NCR',
 'Noida',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Noida, Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpur, Ghaziabad, Jaunpur, Kanpur, New Delhi, Lucknow, Agra, Gurgaon/Gurugram, Rajkot, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR']

### Experience

In [132]:
exp = chauffeur.find_elements_by_xpath("//li[@class = 'fleft grey-text br2 placeHolderLi experience']/span")

In [133]:
experience = []
for l in exp:
    experience.append(l.text)

In [134]:
experience

['0-3 Yrs',
 '4-9 Yrs',
 '2-5 Yrs',
 '3-5 Yrs',
 '3-7 Yrs',
 '3-5 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '3-5 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '5-8 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '1-3 Yrs',
 '5-10 Yrs',
 '5-10 Yrs']

In [135]:
import pandas as pd
jobs = pd.DataFrame({})
jobs['titles'] = job_titles
jobs['companies'] = companies
jobs['experience'] = experience
jobs['location'] = location

In [137]:
jobs.head(11)

,titles,companies,experience,location
0,Data Scientist / Data Analyst -Business Analyst,Inflexion Analytix Private Limited,0-3 Yrs,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/..."
1,Data Scientist,IBM India Pvt. Limited,4-9 Yrs,"Noida, Hyderabad/Secunderabad, Bangalore/Benga..."
2,Business Analyst- Data Scientist,Wipro,2-5 Yrs,"Noida, Gurgaon/Gurugram"
3,Data Scientist - High growth VC backed Influen...,Ravgins International Pvt. Ltd.,3-5 Yrs,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ..."
4,Excellent opportunity For Data Scientist,NEC CORPORATION INDIA PRIVATE LIMITED,3-7 Yrs,"Noida, Bangalore/Bengaluru"
5,Data Scientist,Mobikwik,3-5 Yrs,"New Delhi, Gurgaon/Gurugram, Delhi / NCR"
6,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs,"Gurgaon/Gurugram, Delhi / NCR"
7,DATA Scientist – Gurgaon (Exp 3-6 years),CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-6 Yrs,"Gurgaon/Gurugram, Delhi / NCR"
8,Data Scientist - Noida,Optum Global Solutions (India) Private Limited,3-5 Yrs,Noida
9,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,2-7 Yrs,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal..."
10,Data Scientist - Python & Machine Learning,FUTURES AND CAREERS,2-7 Yrs,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo..."

## Q4

In [141]:
operator = webdriver.Chrome("chromedriver.exe")

In [142]:
url = 'https://www.glassdoor.co.in/Job/index.htm'
operator.get(url)

In [143]:
search_job = operator.find_element_by_id('KeywordSearch')
search_job

In [144]:
search_job.send_keys('Data Scientist')

In [145]:
search_loc = operator.find_element_by_id('LocationSearch')
search_loc.clear()

In [146]:
search_loc.send_keys('Noida')

In [147]:
search_button = operator.find_element_by_id('HeroSearchButton')
search_button.click()

### Job Titles

In [153]:
titles = operator.find_elements_by_xpath("//a[@class = 'jobLink css-1rd3saf eigr9kq2']")

In [154]:
job_titles = []
for i in titles:
    job_titles.append(i.text)

In [155]:
job_titles

['Data Science Internship',
 'Data Scientist',
 'Data Science Intern',
 'Data Scientist',
 'SEO & Data Science Analyst',
 'Data Scientist Intern',
 'Data Scientist',
 'Applied Data Scientist',
 'Big Data Intern',
 'Data Scientist - Computer Vision',
 'Data Scientist',
 'Data Scientist',
 'SEO & Data Science Analyst',
 'Research Scientist - Computer Vision',
 'Data Scientist',
 'Data Science Intern - DataTrained',
 'RAU-Data Scientist',
 'Data Analytics Internship',
 'Machine learning Engineers',
 'Data Scientist – Voice & NLP',
 'Data Scientist',
 'Data Scientist',
 'Data Science (Python) part time job/internship at Multiple locations',
 'Jr. Data Scientist',
 'Data Scientist',
 'Data Scientists',
 'Data Scientist',
 'Senior Data Scientist',
 'Machine Learning Engineer/ Data Scientist',
 'Assistant Manager/Deputy Manager/Manager - Sales - Data Analytics Training Solutions']

### Location

In [156]:
location = []

In [158]:
loc = operator.find_elements_by_xpath("//span[@class = 'pr-xxsm css-1ndif2q e1rrn5ka0']")

In [159]:
for j in loc:
    location.append(j.text)

In [160]:
location

['Noida',
 'Noida',
 'Noida',
 'Gurgaon',
 'Noida',
 'Noida',
 'Noida',
 'Gurgaon',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Gurgaon',
 'New Delhi',
 'Noida',
 'Noida',
 'Noida',
 'Gurgaon',
 'New Delhi',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida']

### Companies

In [161]:
companies = []

In [162]:
comp = operator.find_elements_by_xpath("//a[@class = ' css-l2wjgv e1n63ojh0 jobLink']")

In [163]:
for k in comp:
    companies.append(k.text)

In [164]:
companies

['Apsidata Solutions',
 'Biz2Credit Inc',
 'Data Trained Education',
 'NatWest Group',
 'Adobe',
 'Salasar New Age Technologies',
 'Techlive',
 'dunnhumby',
 'Data Trained Education',
 'CRMNEXT',
 'Salasar New Age Technologies',
 'Ericsson',
 'Adobe Consultants And Outsourcing Private Limited',
 'Adobe',
 'WishFin',
 'Data Trained Education',
 'HDFC Bank',
 'TBM Technologies Private Limited',
 'VN SoftSol',
 'CRMNEXT',
 'SearchUrCollege',
 'MasterCard',
 'Nitesh Kumar',
 'xtLytics',
 'Lantern Digital Services',
 'Jubna',
 'Priority Vendor',
 'Innovacer',
 'Dürr Somac GmbH',
 'Emerging India Group']

In [165]:
#First 10 Job postings.

import pandas as pd
jobs = pd.DataFrame({})
jobs['titles'] = job_titles
jobs['companies'] = companies
jobs['location'] = location

In [166]:
jobs.head(11)

                              titles                     companies location
0            Data Science Internship            Apsidata Solutions    Noida
1                     Data Scientist                Biz2Credit Inc    Noida
2                Data Science Intern        Data Trained Education    Noida
3                     Data Scientist                 NatWest Group  Gurgaon
4         SEO & Data Science Analyst                         Adobe    Noida
5              Data Scientist Intern  Salasar New Age Technologies    Noida
6                     Data Scientist                      Techlive    Noida
7             Applied Data Scientist                     dunnhumby  Gurgaon
8                    Big Data Intern        Data Trained Education    Noida
9   Data Scientist - Computer Vision                       CRMNEXT    Noida
10                    Data Scientist  Salasar New Age Technologies    Noida

## Q5

In [167]:
engineer = webdriver.Chrome("chromedriver.exe")

In [168]:
url = 'https://www.glassdoor.co.in/Salaries/index.htm'
engineer.get(url)

In [169]:
search_job = engineer.find_element_by_id('KeywordSearch')
search_job

In [170]:
search_job.send_keys('Data Scientist')

In [171]:
search_loc = engineer.find_element_by_id('LocationSearch')
search_loc.clear()

In [172]:
search_loc.send_keys('Noida')

In [173]:
search_button = engineer.find_element_by_id('HeroSearchButton')
search_button.click()

### Minimum Salaries

In [174]:
min = engineer.find_elements_by_xpath("//div[@class = 'common__RangeBarStyle__values d-flex justify-content-between ']/span[1]")

In [175]:
minimum_salaries = []
for i in min:
    minimum_salaries.append(i.text)

In [176]:
minimum_salaries

['₹343K',
 '₹577K',
 '₹586K',
 '₹355K',
 '₹450K',
 '₹1,069K',
 '₹502K',
 '₹202K',
 '₹575K',
 '₹1,014K',
 '₹620K',
 '₹792K',
 '₹807K',
 '₹405K',
 '₹971K',
 '₹400K',
 '₹817K',
 '₹12K',
 '₹86K',
 '₹772K']

### Maximum Salaries

In [188]:
max = engineer.find_elements_by_xpath("//div[@class = 'common__RangeBarStyle__values d-flex justify-content-between ']/span[2]")

In [189]:
maximum_salaries = []
for j in max:
    maximum_salaries.append(j.text)

In [190]:
maximum_salaries

['₹1,095K',
 '₹2,213K',
 '₹2,730K',
 '₹1,613K',
 '₹11,622K',
 '₹1,520K',
 '₹1,465K',
 '₹1,809K',
 '₹1,520K',
 '₹2,149K',
 '₹1,695K',
 '₹1,263K',
 '₹1,986K',
 '₹1,703K',
 '₹1,883K',
 '₹1,124K',
 '₹2,006K',
 '₹63K',
 '₹1,358K',
 '₹2,091K']

### Company Names

In [191]:
companies = []

In [197]:
comp = engineer.find_elements_by_xpath("//p[@class = 'm-0 ']")
comp

[<selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="de1c701a-25ae-4bf1-b058-9d896ac94b4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="e4d013e9-3619-47e0-b76e-685d90e6ef76")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="75982f49-5f79-4fe8-b18c-51ae3eb96517")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="19ec5f2c-3fa7-4955-bf50-256018b25b24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="67b08c11-0226-4a22-8b19-bd5759eddf0f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="4a95e658-c910-4b6e-ac86-4f1422e130c8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="c3e9c43a-56c9-4bd9-a563-82246d59dcfd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="0c7fa620-6f2e-4ce3-9873-b5057dcff20a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="f6d3b1f7-8d4e-4d99-92e5-efc16bf5b7a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="39964a9b-4b8d-4351-97ff-68a0dfcf23a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="b25af6da-b892-4fd7-bac4-1e27b4a6d2a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="1d231d36-f30b-4c04-9bcd-4b6f2cc73b7c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="56db1841-dedd-4d10-b36e-e9aa5f225b7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="32846410-2de9-4c6b-ad03-b8ec9fc94e60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="36430633-8d42-4b61-b209-ae3bbe60eed7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="606bcd31-6f62-4ac6-b29d-106f31f97c06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="091c7adb-63dd-4f62-a468-46515b9714b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="3a7b417e-1554-404c-8548-7b6530830226")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="e37db1f0-0298-4fbb-b40b-2f0d568c46a9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16c99db18c5f209857c82ec9e1cb5e41", element="4323cfe1-b1b3-4729-b4a0-cc1cc6fecaf7")>]

In [198]:
for k in comp:
    companies.append(k.text)

In [199]:
companies

['Tata Consultancy Services',
 'Accenture',
 'IBM',
 'Ericsson-Worldwide',
 'Delhivery',
 'UnitedHealth Group',
 'Valiance Solutions',
 'ZS Associates',
 'EXL Service',
 'Optum Global Solutions',
 'Innovaccer',
 'Cognizant Technology Solutions',
 'Optum',
 'Tech Mahindra',
 'OYO',
 'Nagarro',
 'dunnhumby',
 'Vidooly Media Tech',
 'Algo8.ai',
 'Amazon']

### Average Salary

In [200]:
average_salary = []

In [202]:
avg = engineer.find_elements_by_xpath("//div[@class = 'col-2 d-none d-md-flex flex-row justify-content-end']")

In [203]:
for l in avg:
    average_salary.append(l.text)

In [204]:
average_salary

['₹ 6,11,228\n/yr',
 '₹ 11,46,533\n/yr',
 '₹ 8,97,795\n/yr',
 '₹ 7,38,057\n/yr',
 '₹ 12,39,781\n/yr',
 '₹ 13,36,142\n/yr',
 '₹ 8,15,192\n/yr',
 '₹ 11,35,221\n/yr',
 '₹ 11,44,243\n/yr',
 '₹ 14,13,288\n/yr',
 '₹ 12,07,110\n/yr',
 '₹ 10,07,410\n/yr',
 '₹ 13,18,851\n/yr',
 '₹ 10,52,718\n/yr',
 '₹ 14,13,078\n/yr',
 '₹ 9,61,653\n/yr',
 '₹ 11,00,000\n/yr',
 '₹ 15,887\n/mo',
 '₹ 6,75,000\n/yr',
 '₹ 15,00,000\n/yr']

In [205]:
#First 10 Job postings.

import pandas as pd
jobs = pd.DataFrame({})
jobs['Minimum Salary'] = minimum_salaries
jobs['Maximum Salary'] = maximum_salaries
jobs['Average Salary'] = average_salary
jobs['Company'] = companies

In [206]:
jobs.head(11)

   Minimum Salary Maximum Salary    Average Salary                    Company
0           ₹343K        ₹1,095K   ₹ 6,11,228\n/yr  Tata Consultancy Services
1           ₹577K        ₹2,213K  ₹ 11,46,533\n/yr                  Accenture
2           ₹586K        ₹2,730K   ₹ 8,97,795\n/yr                        IBM
3           ₹355K        ₹1,613K   ₹ 7,38,057\n/yr         Ericsson-Worldwide
4           ₹450K       ₹11,622K  ₹ 12,39,781\n/yr                  Delhivery
5         ₹1,069K        ₹1,520K  ₹ 13,36,142\n/yr         UnitedHealth Group
6           ₹502K        ₹1,465K   ₹ 8,15,192\n/yr         Valiance Solutions
7           ₹202K        ₹1,809K  ₹ 11,35,221\n/yr              ZS Associates
8           ₹575K        ₹1,520K  ₹ 11,44,243\n/yr                EXL Service
9         ₹1,014K        ₹2,149K  ₹ 14,13,288\n/yr     Optum Global Solutions
10          ₹620K        ₹1,695K  ₹ 12,07,110\n/yr                 Innovaccer

## Q6

In [215]:
rider = webdriver.Chrome("chromedriver.exe")

In [216]:
url = 'https://www.flipkart.com/'
rider.get(url)

#### Searching the product

In [217]:
product_search = rider.find_element_by_name('q')

In [218]:
product_search.send_keys('Sunglasses')

#### Clicking the search button

In [219]:
search = rider.find_element_by_tag_name("svg")

In [220]:
search.click()

#### 1. Brand

#### 2. Description

#### 3. Price

#### 4. Discount

In [221]:
brand=[]
description = []
price = []
discount = []


start=0

end=4

for page in range(start,end):#for loop for scrapping 4 page

    brands=rider.find_elements_by_class_name('_2WkVRV')#scraping brands name by class name='_2WkVRV'

    for i in brands:

        brand.append(i.text)#appending the text in Brand list

    desc=rider.find_elements_by_xpath('//a[@class="IRpwTa"]')#scraping description from the xpath

    for i in desc:

        description.append(i.text)#appending the description in list

    prices=rider.find_elements_by_xpath("//div[@class='_30jeq3']")# scraping the price from the xpath

    for i in prices:

        price.append(i.text)

    disc=rider.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")# scraping the discount from the xpath

    for i in disc:

        discount.append(i.text)

    nxt_button=rider.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page

    try:

        rider.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page

    except:

        rider.get(nxt_button[0].get_attribute('href'))

In [224]:
#First 100 products.

import pandas as pd
products = pd.DataFrame({})
products['Brand'] = brand[:101]
products['Product_description'] = description[:101]
products['Price'] = price[:101]
products['Discount'] = discount[:101]

In [225]:
products

,Brand,Product_description,Price,Discount
0,New Specs,Gradient Rectangular Sunglasses (56),₹543,52% off
1,NuVew,UV Protection Wayfarer Sunglasses (Free Size),₹627,21% off
2,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (58),"₹1,115",14% off
3,Fastrack,"Polarized, UV Protection Wrap-around Sunglasse...",₹759,62% off
4,Fastrack,"UV Protection, Gradient Round Sunglasses (Free...",₹449,77% off
...,...,...,...,...
96,Crackers,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹777,22% off
97,PETER JONES,Mirrored Aviator Sunglasses (55),₹379,74% off
98,Fastrack,UV Protection Clubmaster Sunglasses (Free Size),₹319,84% off
99,ROYAL SON,UV Protection Wrap-around Sunglasses (52),₹854,57% off
100,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),₹170,82% off

## Q7

In [257]:
surfer = webdriver.Chrome("chromedriver.exe")

In [258]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.'
surfer.get(url)

#### Clicking on 'All Reviews'

In [259]:
surfer.find_element_by_xpath("//div[@class = '_3UAT2v _16PBlm']").click()

#### Rating

In [260]:
rating = []

#### Review Summary

In [261]:
review_summary = []

#### Full Review

In [262]:
full_review = []

In [263]:
start=0

end=10

for page in range(start,end):#for loop for scrapping 4 page
    
    for j in surfer.find_elements_by_xpath("//div[@class = '_3LWZlK _1BLPMq']"):
        rating.append(j.text)
        
    for k in surfer.find_elements_by_xpath("//p[@class = '_2-N8zT']"):
        review_summary.append(k.text)
        
    for l in surfer.find_elements_by_xpath("//div[@class = 't-ZTKy']/div[1]/div"):
        full_review.append(l.text)
        
    nxt_button=surfer.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page

    try:

        surfer.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page

    except:

        surfer.get(nxt_button[0].get_attribute('href'))

In [264]:
print(len(rating), len(review_summary), len(full_review))

98 100 100

In [265]:
import pandas as pd
iphone = pd.DataFrame({})
iphone['Rating'] = rating
iphone['Review Summary'] = review_summary[:98]
iphone['Full Review'] = full_review[:98]

In [266]:
iphone

,Rating,Review Summary,Full Review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
93,5,Brilliant,"Wow wow and wow, in 48k you will not get anyth..."
94,5,Most Price worthy Iphone,Reviewing within 1st Month\n\n\n1st Month Revi...
95,5,Best in the market!,The best all rounder iphone. Flipkart is doing...
96,5,Terrific,I upgraded (downgraded?) from my iPhone X sinc...
97,5,Terrific purchase,"Well , as we all know if its not an Iphone , i..."

## Q8

In [268]:
rower = webdriver.Chrome("chromedriver.exe")

In [269]:
url = 'https://www.flipkart.com/'
rower.get(url)

In [270]:
search_bar = rower.find_element_by_name('q')

In [271]:
search_bar.send_keys('Sneakers')

In [273]:
search_button = rower.find_element_by_tag_name('svg')
search_button.click()

#### 1. Brand

In [274]:
brand = []

#### 2. Product description

In [275]:
description = []

#### 3. Price

In [276]:
price = []

#### 4. Discount

In [277]:
discount = []

In [281]:
start=0

end=4

for page in range(start,end):#for loop for scrapping 4 page
    
    #brand
    comp = rower.find_elements_by_xpath("//div[@class = '_2WkVRV']")

    for i in comp:

        brand.append(i.text)#appending the text in Brand list
        
    #description
    desc = rower.find_elements_by_xpath("//a[@class = 'IRpwTa']")

    for i in desc:

        description.append(i.text)#appending the description in list

    #price
    cost = rower.find_elements_by_xpath("//div[@class = '_30jeq3']")

    for i in cost:

        price.append(i.text)
        
    #discount
    disc = rower.find_elements_by_xpath("//div[@class = '_3Ay6Sb']/span")

    for i in disc:

        discount.append(i.text)
        

    nxt_button=rower.find_elements_by_xpath("//a[@class='_1LKTO3']")#scraping the list of buttons from the page

    try:

        rower.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page

    except:

        rower.get(nxt_button[0].get_attribute('href'))

In [284]:
import pandas as pd
jobs = pd.DataFrame({})
jobs['Brand'] = brand[:101]
jobs['Product description'] = description[:101]
jobs['Price'] = price[:101]
jobs['Discount'] = discount[:101]

In [285]:
jobs

,Brand,Product description,Price,Discount
0,DUCATI,Sneakers For Men,"₹1,924",47% off
1,DUCATI,Sneakers For Men,"₹1,199",67% off
2,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
3,ORICUM,Combo pack of 2 casual sneaker shoes for men S...,₹377,62% off
4,Robbie jones,Sneakers For Men,₹474,52% off
...,...,...,...,...
96,bluemaker,Combo Pack of 4 Casual Shoes Sneakers For Men,₹474,57% off
97,Magnolia,Sneakers for men(black_6) Sneakers For Men,₹305,44% off
98,3SIX5,Sneakers For Men,₹214,81% off
99,DUCATI,Latest Stylish Casual sneakers for men | Lace ...,"₹1,987",23% off
100,World Wear Footwear,Men 5014 Latest Collection Stylish Casual Spor...,₹499,45% off

## Q9

In [286]:
boater = webdriver.Chrome("chromedriver.exe")

In [287]:
url = 'https://www.myntra.com/shoes'
boater.get(url)

#### Applying filters

In [290]:
#“Rs. 6649 to Rs. 13099”

filter1 = boater.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
filter1.click()

In [289]:
#Color "Black"

filter2 = boater.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
filter2.click()

#### 1. Price

In [291]:
price = []

#### 2. Brand

In [292]:
brand = []

#### 3. Description

In [293]:
description = []

In [294]:
start=0

end=3

for page in range(start,end):#for loop for scrapping 4 page
    
    #brand
    comp = boater.find_elements_by_xpath("//h3[@class = 'product-brand']")

    for i in comp:

        brand.append(i.text)#appending the text in Brand list
        
    #description
    desc = boater.find_elements_by_xpath("//h4[@class = 'product-product']")

    for i in desc:

        description.append(i.text)#appending the description in list

    #price
    cost = boater.find_elements_by_xpath("//div[@class = 'product-price']/span")

    for i in cost:

        price.append(i.text)
        
        
    nxt_button=boater.find_elements_by_xpath("//a[@rel='next']")#scraping the list of buttons from the page

    try:

        boater.get(nxt_button[1].get_attribute('href'))#getting the link from the list for next page

    except:

        boater.get(nxt_button[0].get_attribute('href'))

In [295]:
import pandas as pd
jobs = pd.DataFrame({})
jobs['Brand'] = brand[:101]
jobs['Product description'] = description[:101]
jobs['Price'] = price[:101]

In [296]:
jobs

      Brand             Product description               Price
0      Nike    Men KD13 EP Basketball Shoes           Rs. 12995
1      Nike      Men AIR ZOOM Running Shoes  Rs. 10796Rs. 13495
2      Nike       Men JOYRIDE Running Shoes           (20% OFF)
3      Nike     Men JORDAN DELTA Basketball  Rs. 11246Rs. 14995
4      ALDO           Men Textured Sneakers           (25% OFF)
..      ...                             ...                 ...
96   Reebok  Unisex Zig Kinetica II Running           (25% OFF)
97     Geox      Men Leather Formal Oxfords    Rs. 7440Rs. 8000
98     Geox      Men Leather Formal Oxfords            (7% OFF)
99     Nike       Men REACT MILER 2 Running            Rs. 8990
100    Nike     Women AIR MAX VIVA Sneakers  Rs. 11999Rs. 15999

[101 rows x 3 columns]

## Q10

In [525]:
traveler = webdriver.Chrome("chromedriver.exe")

In [526]:
url = 'https://www.amazon.in/'
traveler.get(url)

In [527]:
search_bar = traveler.find_element_by_id('twotabsearchtextbox')
search_bar.send_keys('laptop')

In [528]:
button = traveler.find_element_by_id('nav-search-submit-button')
button.click()

#### Applying filters

I tried applying two filters like i7 and i9 but it is taking only one filter at a time.

Thus, I'm creating a dataframe with respective to each filter.

In [531]:
#“Intel Core i7”

filter1 = traveler.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[11]/span/a/div/label/i")

#filter2 = traveler.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[2]/li[12]/span/a/div/label/i")

filter1.click()

#filter2.click()

#### 1. Title

In [532]:
title = []

name = traveler.find_elements_by_xpath("//span[@class = 'a-size-medium a-color-base a-text-normal']")

In [533]:
name[0].text

'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX'

#### 2. Price

In [534]:
price = []

cost = traveler.find_elements_by_xpath("//span[@class = 'a-price-whole']")

In [535]:
cost[1].text

'77,990'

In [536]:
for l in range(0,1):
    
    for m in cost:
        price.append(m.text)
        
    for n in name:
        title.append(n.text)

#### 3. Rating

In [538]:
#Fetching URLs

urls = []

for i in range(0,1):
    for j in traveler.find_elements_by_xpath('//h2[@class = "a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a'):
        urls.append(j.get_attribute('href'))

In [539]:
len(urls)

27

In [540]:
rating = []

In [541]:
for k in urls[:10]:
    traveler.get(k)
    time.sleep(2)

    try:
        #star = traveler.find_element_by_xpath("//span[@class = 'a-size-medium a-color-base']")
        star = traveler.find_element_by_xpath("//span[@class = 'a-size-medium a-color-base']").get_attribute('innerHTML').split(' ')[0]
        rating.append(star)
    except:
        rating.append('-')

In [542]:
rating

['3', '4', '-', '4.4', '3', '3.1', '2.6', '-', '-', '-']

In [578]:
import pandas as pd
table = pd.DataFrame({})
table['Product Name'] = title[:10]
table['Rating'] = rating[:10]
table['Price'] = price[:10]

In [579]:
table

                                        Product Name Rating     Price
0  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...      3    91,499
1  Dell G3 3500 Gaming 15.6inch ( 39.62 cms) 120h...      4    77,990
2  Dell Inspiron 7306 i7 11th Gen, x360 13.3" 4K ...      -  1,17,999
3  Mi Notebook Horizon Edition 14 Intel Core i5-1...    4.4    53,999
4  Acer Nitro 5 Intel Core i7-9th Gen 17.3-inch D...      3    69,990
5  Life Digital Laptop 15.6-inch (39.62 cms) (Int...    3.1    36,990
6  Life Digital Laptop 15.6-inch (39.62 cms) (Int...    2.6    33,990
7  (Renewed) Dell Latitude E6420 14 Inch Laptop (...      -    34,000
8  (Renewed) Lenovo T430 14-inch Laptop (Core i7/...      -    38,499
9  (Renewed) Lenovo T430 14-inch Laptop (Core i7/...      -    37,499

In [547]:
button = traveler.find_element_by_id('nav-search-submit-button')
button.click()

### Intel Core i9

In [548]:
filter2 = traveler.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[2]/li[12]/span/a/div/label/i")

filter2.click()

#### Product name

In [549]:
title1 = []

name1 = traveler.find_elements_by_xpath("//span[@class = 'a-size-medium a-color-base a-text-normal']")

In [550]:
name1[0].text

'ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 144Hz/3ms Gaming Laptop (8th Gen Intel Core i9-8950HK/64GB/2TB SSHD + 1.5TB NVMe SSD/Windows 10/GTX 1080 8GB Graphics/4.70 Kg), Aluminum'

#### Price

In [551]:
price1 = []

cost1 = traveler.find_elements_by_xpath("//span[@class = 'a-price-whole']")

In [553]:
cost1[0].text

'4,13,890'

In [554]:
for q in range(0,1):
    
    for o in cost1:
        price1.append(o.text)
        
    for p in name1:
        title1.append(p.text)

#### Rating

In [558]:
#Fetching URLs

urls = []

for k in range(0,1):
    for k in traveler.find_elements_by_xpath('//h2[@class = "a-size-mini a-spacing-none a-color-base s-line-clamp-2"]/a'):
        urls.append(k.get_attribute('href'))

In [559]:
rating1 = []

In [560]:
for a in urls[:10]:
    traveler.get(a)
    time.sleep(1)

    try:
        #star = traveler.find_element_by_xpath("//span[@class = 'a-size-medium a-color-base']")
        star1 = traveler.find_element_by_xpath("//span[@class = 'a-size-medium a-color-base']").get_attribute('innerHTML').split(' ')[0]
        rating1.append(star1)
    except:
        rating1.append('-')

In [561]:
rating1

['3.7', '3.7', '3.8', '-', '2.4', '4.5', '3.8', '3.4', '4.8', '-']

In [576]:
import pandas as pd
table1 = pd.DataFrame({})
table1['Product Name'] = title1[:10]
table1['Price'] = price1[:10]
table1['Rating'] = rating1[:10]

In [577]:
table1

                                        Product Name     Price Rating
0  ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...  4,13,890    3.7
1  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...  2,62,990    3.7
2  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...  2,79,990    3.8
3  (Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB ...  1,89,900      -
4  Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...  2,49,990    2.4
5  HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...  3,45,900    4.5
6  ASUS ZenBook Pro Duo UX581 Intel Core i9 9th G...  2,79,990    3.8
7  Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...  2,00,690    3.4
8  ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz...  2,78,139    4.8
9  (Renewed) ASUS UX581LV-H2035T ZenBook Pro Duo ...  2,07,992      -

#### Combining two tables using append function

In [582]:
table1.append(table)

                                        Product Name     Price Rating
0  ASUS ROG G703GI-E5148T 17.3" (43.94 cms) FHD 1...  4,13,890    3.7
1  Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...  2,62,990    3.7
2  ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...  2,79,990    3.8
3  (Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB ...  1,89,900      -
4  Dell XPS 9570 15.6" (39.62cms) UHD Laptop (8th...  2,49,990    2.4
5  HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...  3,45,900    4.5
6  ASUS ZenBook Pro Duo UX581 Intel Core i9 9th G...  2,79,990    3.8
7  Dell G7 7500 15.6inch FHD 300 Hz Display Gamin...  2,00,690    3.4
8  ASUS ROG Strix Scar 17 (2020), 17.3" FHD 300Hz...  2,78,139    4.8
9  (Renewed) ASUS UX581LV-H2035T ZenBook Pro Duo ...  2,07,992      -
0  HP Pavilion Gaming 10th Gen Intel Core i7 Proc...    91,499      3
1  Dell G3 3500 Gaming 15.6inch ( 39.62 cms) 120h...    77,990      4
2  Dell Inspiron 7306 i7 11th Gen, x360 13.3" 4K ...  1,17,999      -
3  Mi Notebook Horizon Edition 14 Intel Core i5-1...    53,999    4.4
4  Acer Nitro 5 Intel Core i7-9th Gen 17.3-inch D...    69,990      3
5  Life Digital Laptop 15.6-inch (39.62 cms) (Int...    36,990    3.1
6  Life Digital Laptop 15.6-inch (39.62 cms) (Int...    33,990    2.6
7  (Renewed) Dell Latitude E6420 14 Inch Laptop (...    34,000      -
8  (Renewed) Lenovo T430 14-inch Laptop (Core i7/...    38,499      -
9  (Renewed) Lenovo T430 14-inch Laptop (Core i7/...    37,499      -